h1 {
    text-align: center;
}

.checked {
    text-decoration: line-through;
}

li:hover {
    cursor: grab;
}

.list.highlight {
    background-color: #f0f0f0; 
    border: 2px dashed #666; 
    padding-block: 15px;
}