h1 {
    text-align: center;
}

.child {
    width: 100px;
    height: 100px;
    background-color: #ff6347;
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: move;
    color: black;
    font-size: 30px;
    display: grid;
    place-items: center;
}

.draging {
    opacity: 0.8;
}