h1 {
    text-align: center;
}

.child {
    width: 100px;
    height: 100px;
    background-color: #ff6347;
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: move;
}

.draging {
    opacity: 0.8;
}